{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="">
<meta name="author" content="">

<title>{{ page.title }}</title>

<link href="{% static "fruit-template/css/fruit.css" %}" rel="stylesheet"> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 

</head>

<body>
    <div class="fTest">
    <div class="fMarginAuto fLandWrapper">
        
        <div class="fMenu fPos-Fixed">
            <div class="fMenu-Choice fActive fTextAlign-C" data-event="menuFruit">
                <span class="fDis-Block fMenu-Choice-Image" data-image="fruit"></span>
                <span class="fMenu-Choice-Label">Фрукты</span>
            </div>
            <div class="fMenu-Choice fTextAlign-C" data-event="menuNut">
                <span class="fDis-Block fMenu-Choice-Image" data-image="nut"></span>
                <span class="fMenu-Choice-Label">Орехи</span>
            </div>
            <div class="fMenu-Choice fTextAlign-C" data-event="menuBag">
                <span class="fDis-Block fMenu-Choice-Image" data-image="bag"></span>
                <span class="fMenu-Choice-Label">Корзина</span>
            </div>
        </div>
        
        <div class="fLandHeader">
              <span class="fDis-Block fPos-Rel fLandLogo fMarginAuto"></span>
              <h1 class="fDis-Inline fPos-Rel fLand-H1 fMarginAuto">Доставка продуктов домой и на работу</h1>
        </div>
        
        <div class="fLandMiddle">
            
            <div data-content="menuFruit" class="fLandLine fPos-Rel fLandLine-1 fLineFont">
                <div class="fWrapper-976PX fMarginAuto">
                    <span class="fDis-Inline fLineIcon fVertAlign-Mid" data-image="fruit"></span>
                    <span>Фрукты</span>
                </div>
            </div>
            
            <div data-content="Fruit">
                <div class="fWrapper-976PX fMarginAuto">
                    
                    {% for fruit in fruits %}
                    <div class="fObj fDis-Inline {% if fruit.count < 1 or not fruit.in_stock %}fDisabled fOpacity-4{% endif %}" data-pk="{{ fruit.pk }}">
                      <div class="fDis-Block fObj-Image" style="background: url({{ fruit.image.url }})no-repeat;" data-image="fruit">
                            <div class="fPos-Rel fObj-Detail">
                                <div class="fObj-Ui-Wrapper fTextAlign-C">
                                    <span class="fObj-Ui" data-ui="minus">-</span>
                                    <span class="fObj-Ui fDis-Inline" data-reserve="{{ fruit.count }}" data-ui="counter">0</span>
                                    <span class="fObj-Ui" data-ui="plus">+</span>
                                </div>
                            </div>
                            {% if fruit.count < 1 or not fruit.in_stock %}<span data-obj="disabled">Товар отсутствует</span>{% endif %}
                        </div>
                        
                        <span class="fObj-Label fPos-Rel">{{ fruit.label }}
                            <span class="fObj-Cancel fPos-Abs fDis-None" data-obj="cancel" data-ui="cancel">Отменить выбор</span>
                        </span>

                        <div class="fObj-Price fPos-Rel fDis-Block" {% if fruit.count < 1 or not fruit.in_stock %}data-image="empty"{% else %}data-image="fruit"{% endif %}>
                            <div class="fPos-Abs fObj-Count fDis-None">
                                <span class="fObj-Count-B fPos-Rel" data-count="0">0
                                    <span class="fObj-Count-L fPos-Abs">кг</span>
                                </span>
                            </div>
                            <span class="fObj-Price-B" data-price="{{ fruit.price|floatformat }}">{{ fruit.price|floatformat }}</span>
                            <span class="fObj-Price-L" data-help>руб/кг</span>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
            
            <div data-content="menuNut" class="fLandLine fPos-Rel fLandLine-2 fLineFont">
                <div class="fWrapper-976PX fMarginAuto">
                    <span class="fDis-Inline fLineIcon fVertAlign-Mid" data-image="nut"></span>
                    <span>Орехи</span>
                </div>
            </div>
            
             <div data-content="Nut" style="margin-top: 120px;">
                <div class="fWrapper-976PX fMarginAuto">
                    
                    {% for nut in nuts %}
                    <div class="fObj fDis-Inline {% if nut.count < 1 or not nut.in_stock %}fDisabled fOpacity-4{% endif %}" data-pk="{{ nut.pk }}">
                      <div class="fDis-Block fObj-Image" style="background: url({{ nut.image.url }})no-repeat;" data-image="nut">
                            <div class="fPos-Rel fObj-Detail">
                                <div class="fObj-Ui-Wrapper fTextAlign-C">
                                    <span class="fObj-Ui" data-ui="minus">-</span>
                                    <span class="fObj-Ui fDis-Inline" data-reserve="{{ nut.count }}" data-ui="counter">0</span>
                                    <span class="fObj-Ui" data-ui="plus">+</span>
                                </div>
                            </div>
                            {% if nut.count < 1 or not nut.in_stock %}<span data-obj="disabled">Товар отсутствует</span>{% endif %}
                        </div>
                        
                        <span class="fObj-Label fPos-Rel">{{ nut.label }}</span>
                        <span class="fObj-Label-L fPos-Rel">{{ nut.getNutType }}
                            <span class="fObj-Cancel fPos-Abs fDis-None" data-obj="cancel" data-ui="cancel" style="bottom: -20px;">Отменить выбор</span>
                        </span>

                        <div class="fObj-Price fPos-Rel fDis-Block" {% if nut.count < 1 or not nut.in_stock %}data-image="empty"{% else %}data-image="nut"{% endif %}>
                            <div class="fPos-Abs fObj-Count fDis-None">
                                <span class="fObj-Count-B fPos-Rel" data-count="0">0
                                    <span class="fObj-Count-L fPos-Abs">кг</span>
                                </span>
                            </div>
                            <span class="fObj-Price-B" data-price="{{ nut.price|floatformat }}">{{ nut.price|floatformat }}</span>
                            <span class="fObj-Price-L" data-help>руб/кг</span>
                        </div>
                    </div>
                    {% endfor %}
                        
                 </div>
            </div>
            
            <div data-content="menuBag" class="fLandLine fPos-Rel fLandLine-2 fLineFont">
                <div class="fMarginAuto" style="width:1006px;">
                    <span class="fDis-Inline fLineIcon fVertAlign-Mid" data-image="bag"></span>
                    <span>Ваша корзина</span>
                </div>
            </div>
            
            <div data-content="Bag" style="margin-top: 57px;">
                <div class="fOrder fMarginAuto fTextAlign-C" style="width:1006px;">
                    <div class="fDis-Inline fFloat-L" data-order="fruit" style="width:500px;">
                        <h3>Фрукты:</h3>
                        <div class="fOrderTable-Title">
                            <div data-label>Наименование</div>
                            <div data-count>Кол-во</div>
                            <div data-price>Цена(руб.)</div>
                        </div>
                        <div class="fOrderTable-Result">
                            <div data-label></div>
                            <div data-count>0</div>
                            <div data-price>0</div>
                        </div>
                    </div>

                    <div class="fDis-Inline" data-order="nut" style="width:500px;">
                        <h3>Орехи:</h3>
                        <div class="fOrderTable-Title">
                            <div data-label>Наименование</div>
                            <div data-count>Кол-во</div>
                            <div data-price>Цена(руб.)</div>
                        </div>
                        <div class="fOrderTable-Result">
                            <div data-label></div>
                            <div data-count>0</div>
                            <div data-price>0</div>
                        </div>
                    </div>
                    <div class="fClear"></div>

                    <div class="fOrder-Line" style="margin-top: 27px;"></div>

                </div>
            </div>
            <div class="fClear"></div>
            
            <div data-content="Form" class="fFormWrapper fDis-Rel">
                <div class="fForm fMarginAuto fTextAlign-C" style="width:1006px;">
                    <form class="fFloat-L fFormOrder">
                        {% csrf_token %}
                        <input name="name" type="text" placeholder="Ваше имя" required>
                        <input class="fFloat-L" name="city" type="text" placeholder="Город" value="Москва" disabled>
                        <input class="fFloat-L" name="street" type="text" placeholder="Улица" required>
                        <input class="fFloat-L" name="house" type="text" placeholder="Дом">
                        <input class="fFloat-L" name="corps" type="text" placeholder="Корп.">
                        <input class="fFloat-L" name="building" type="text" placeholder="Стр.">
                        <input class="fFloat-L" name="number" type="text" placeholder="No">
                        <div class="fClear"></div>
                        <input name="phone" type="text" placeholder="Ваше телефон" required>
                        <input name="email" type="email" placeholder="Ваше e-mail" required>
                        <input name="company" type="text" placeholder="Название компании">
                        <input type="submit" hidden="hidden" class="fHid">
                        
                    </form>
                    
                    <div class="fFloat-R fTextAlign-L" style="margin-top: 20px; width: 300px;" data-summ>
                        <span style="color: #ffffff;font: 700 30px / 36px Intro-Light;">Итого: </span>
                        <span style="color: #99cc33;font: 700 30px / 36px Intro-Light;" data-total>0</span>
                        <span style="color: #99cc33;font: 700 30px / 36px Intro-Light;"> руб.</span>
                        <br/>
                        <span class="fFloat-L" style="color: rgba(255, 255, 255, 0.08); font: 400 14px/24px Intro-Bold; margin-top: -10px;">включая доставку</span>
                        <div class="fClear"></div>
                        <div class="fForm-Faq">
                            <span>Мы доставляем фрукты в трёх временных интервалах: 8-13, 13-18, 18-23 часа. Вы можете выбрать оптимальный для вас. Доставка осуществляется на следуюший день для заказов оформленных до 14 часов, после 14 - через день, но можем успеть и на следующий - оператор вам подскажет.</span> 
                            <div class="fOrder-Line-Faq"></div>
                            <span class="fRed">Стоимость доставки 350р., в случае стоимости заказа более 4000р. - доставка бесплатно.</span> 
                        </div>
                    </div>
                    <div class="fClear"></div>
                    
                    <div class="fFormOrder-Submit" data-event="submit">Заказать</div>
                    <div class="fFormOrder-Success">Благодарим за заказ!</div>
                    
                </div>
            </div>
            
        </div>
        
        <!--</div>-->
    </div>
    </div>
    
    <script>
        
        $(window).scroll(function () {
            var menu = $('.fMenu'); 
            if (menu.offset().top > 810) {
               menu.fadeIn();
            } else {
               menu.stop().hide();
            }
        });
        
        $(function(){
           
           $('.fMenu-Choice[data-event]').click(function(){
               var anchor = $(this).data('event');
               
               var target = $('[data-content="'+anchor+'"]');

                if( target.length ) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 500);
                    
                    $(this).parent().children().removeClass('fActive');
                    
                    $(this).addClass('fActive');
                }
               
           });

          $('form').submit(function(e){
            console.log('submit event');

            $.ajax({
              url: '/', 
              type: "POST", 
              data: $('form').serialize(), 
              success: function(response, status, jqXHR) { 

                if(response == 'OK'){

                  $('html, body').animate({
                      scrollTop: $(document).height()
                  }, 500);

                  $('.fFormOrder-Success').text('Благодарим за заказ!').fadeIn('slow');

                  window.setTimeout(function(){
                    $('.fFormOrder-Success').text('').fadeOut('slow');
                    (location.search.split('?next=').length > 1 ? window.location = location.search.split('?next=')[1] : window.location = '/');
                  },4000);
                }else{
                  $('.fFormOrder-Success').text('Ошибка!').fadeIn('slow');

                  window.setTimeout(function(){
                    $('.fFormOrder-Success').text('').fadeOut('slow');
                  },2000);
                }

              }
            });

            return false;
          });

          $('[data-event="submit"]').click(function(){
            $('input[type="submit"]').click();
          });

          $('[data-ui="plus"]').click(function(){

            $parent = $(this).parent();
            $obj = $parent.closest('.fObj');
            $objLabel = $obj.find('.fObj-Label').clone().children().remove().end().text();
            $objPk = $obj.data('pk');
            $objHelp = $obj.find('[data-help]');
            $objPrice = $obj.find('[data-price]');
            $objImage = $obj.find('.fObj-Image');
            $objCancel = $obj.find('.fObj-Cancel');
            $objCount = $obj.find('.fObj-Count');
            $dataCount = $obj.find('[data-count]');
            $reserve = $parent.find('[data-reserve]');
            $counter = $parent.find('[data-ui="counter"]');

            var iInitDataPrice = parseInt($objPrice.data('price'));
            var iDataPrice = parseInt($objPrice.text());
            var iDataCount = parseInt($dataCount.text());
            var iCounter = parseInt($counter.text());
            var iReserve = parseInt($reserve.data('reserve'));

            if(iReserve > 0){
              $objImage.addClass('fActive');

              $objCount.show();
              $objCancel.show();

              iDataCount = iDataCount + 1;
              $dataCount.html(iDataCount.toString()+'<span class="fObj-Count-L fPos-Abs">кг</span>');

              $counter.text(iCounter+1);

              iDataPrice = iDataCount * iInitDataPrice;
              $objPrice.text(iDataPrice);
              $objHelp.html('&nbsp;руб.&nbsp;');
              //
              if($('[data-order="'+$objImage.data('image')+'"] [data-pk="'+$obj.data('pk')+'"]').length > 0){
                $orderDataCount = $('[data-order="'+$objImage.data('image')+'"] [data-pk="'+$obj.data('pk')+'"]').find('[data-count] > span:not([data-event])');
                var iOrderDataCount = parseInt($orderDataCount.text());
                iOrderDataCount++;
                $orderDataCount.text(iOrderDataCount);

                $orderDataPrice = $('[data-order="'+$objImage.data('image')+'"] [data-pk="'+$obj.data('pk')+'"]').find('[data-price]');
                $orderDataPrice.text(iDataPrice);

              }else{
                $dataOrder = $('[data-order="'+$objImage.data('image')+'"]');

                var iDataNum = parseInt($dataOrder.find('[data-num]:last').data('num'));
                if(iDataNum){
                  iDataNum++;
                  var html = '<div class="fOrderTable-Obj" data-pk="'+$objPk+'" data-num="'+iDataNum+'"><div data-label=""><span data-labnum>'+iDataNum+'.</span><span data-lablab> '+$objLabel+'</span><span class="fDis-Inline" data-event="cancel" ></span></div><div data-count=""><span class="fDis-Inline" data-event="minus" >-</span><span style="margin-left: 5px; margin-right: 4px;">1</span><span class="fDis-Inline" data-event="plus">+</span></div><div data-price="">'+iInitDataPrice+'</div></div>'
                  $new = $dataOrder.find('[data-num]:last').after(html);
                  $new.next().find('[data-event]').click(dataEvent);

                }else{
                  iDataNum=1;
                  var html = '<div class="fOrderTable-Obj" data-pk="'+$objPk+'" data-num="'+iDataNum+'"><div data-label=""><span data-labnum="">'+iDataNum+'.</span><span data-lablab=""> '+$objLabel+'</span><span class="fDis-Inline" data-event="cancel" ></span></div><div data-count=""><span class="fDis-Inline" data-event="minus">-</span><span style="margin-left: 5px; margin-right: 4px;">1</span><span class="fDis-Inline" data-event="plus">+</span></div><div data-price="">'+iInitDataPrice+'</div></div>'
                  //$dataOrder.find('.fOrderTable-Title').after(html);
                  $new = $dataOrder.find('.fOrderTable-Title').after(html);
                  $new.next().find('[data-event]').click(dataEvent);
                }
              }

              //
              $orderTableResult = $('[data-order="'+$objImage.data('image')+'"] [data-pk="'+$obj.data('pk')+'"]').parent().find('.fOrderTable-Result');

              $resultCount = $orderTableResult.find('[data-count]');
              $resultCount.text(parseInt($resultCount.text())+1);

              $resultPrice = $orderTableResult.find('[data-price]');
              $resultPrice.text(parseInt($resultPrice.text())+iInitDataPrice);
              //
              var iTotal = parseInt($('[data-total]').text());
              $('[data-total]').text(iTotal + iInitDataPrice);

              iReserve = iReserve - 1;
              $reserve.data('reserve', iReserve);
            }else{
              $objImage.addClass('fOpacity-4');
            }

          });

          $('[data-ui="minus"]').click(function(){

            $parent = $(this).parent();
            $obj = $parent.closest('.fObj');
            $objHelp = $obj.find('[data-help]');
            $objPrice = $obj.find('[data-price]');
            $objImage = $obj.find('.fObj-Image');
            $objCancel = $obj.find('.fObj-Cancel');
            $objCount = $obj.find('.fObj-Count');
            $dataCount = $obj.find('[data-count]');
            $reserve = $parent.find('[data-reserve]');
            $counter = $parent.find('[data-ui="counter"]');

            var iInitDataPrice = parseInt($objPrice.data('price'));
            var iDataPrice = parseInt($objPrice.text());
            var iDataCount = parseInt($dataCount.text());
            var iCounter = parseInt($counter.text());
            var iReserve = parseInt($reserve.data('reserve'));

            if(iCounter > 0){
              $objImage.removeClass('fOpacity-4');

              iDataCount = iDataCount - 1;
              $dataCount.html(iDataCount.toString()+'<span class="fObj-Count-L fPos-Abs">кг</span>');

              $counter.text(iCounter-1);

              iDataPrice = iDataCount * iInitDataPrice;
              $objPrice.text(iDataPrice);
              $objHelp.html('&nbsp;руб.&nbsp;');
              //
              if($('[data-order="'+$objImage.data('image')+'"] [data-pk="'+$obj.data('pk')+'"]').length > 0){
                $orderDataCount = $('[data-order="'+$objImage.data('image')+'"] [data-pk="'+$obj.data('pk')+'"]').find('[data-count] > span:not([data-event])');
                var iOrderDataCount = parseInt($orderDataCount.text());
                iOrderDataCount--;
                $orderDataCount.text(iOrderDataCount);

                $orderDataPrice = $('[data-order="'+$objImage.data('image')+'"] [data-pk="'+$obj.data('pk')+'"]').find('[data-price]');
                $orderDataPrice.text(iDataPrice);

                $orderTableResult = $('[data-order="'+$objImage.data('image')+'"] [data-pk="'+$obj.data('pk')+'"]').parent().find('.fOrderTable-Result');

                $resultCount = $orderTableResult.find('[data-count]');
                $resultCount.text(parseInt($resultCount.text())-1);

                $resultPrice = $orderTableResult.find('[data-price]');
                $resultPrice.text(parseInt($resultPrice.text())-iInitDataPrice);
              }

              //
              var iTotal = parseInt($('[data-total]').text());
              $('[data-total]').text(iTotal - iInitDataPrice);

              iReserve = iReserve + 1;
              $reserve.data('reserve', iReserve);

              if(iCounter-1 == 0){
                $objImage.removeClass('fActive');

                $objCount.hide();
                $objCancel.hide();

                $objPrice.text(iInitDataPrice);
                $objHelp.text('руб/кг');

                //
                $('.fOrderTable-Obj[data-pk="'+$obj.data('pk')+'"]').remove();
                //
                $.each($('[data-order="'+$objImage.data('image')+'"] [data-num]'), function(i, o){ $(o).data('num', i+1); $(o).find('[data-labnum]').text(i+1); });
              }
            }else{
              $objImage.removeClass('fActive');

              $objCount.hide();
              $objCancel.hide();

              $objPrice.text(iInitDataPrice);
              $objHelp.text('руб/кг');

              //
              $('.fOrderTable-Obj[data-pk="'+$obj.data('pk')+'"]').remove();
              //
              $.each($('[data-order="'+$objImage.data('image')+'"] [data-num]'), function(i, o){ $(o).data('num', i+1); $(o).find('[data-labnum]').text(i+1); });
            }

          });

          $('[data-obj="cancel"]').click(function(){

            $obj = $(this).closest('.fObj');
            $counter = $obj.find('[data-ui="counter"]');
            $minus = $obj.find('[data-ui="minus"]');

            var iCounter = parseInt($counter.text()) + 1;

            for(var i=0; i<iCounter; i++){
                $minus.click();
            }

          });

          $('.fOrderTable-Obj').on('click', '[data-event]', dataEvent);

          //$('.fOrderTable-Obj [data-event]').click(function(){
          //  $this = $(this);
          //  $orderObj = $this.closest('.fOrderTable-Obj');
          //  $obj = $('.fObj[data-pk="'+$orderObj.data('pk')+'"]');
          //  $obj.find('[data-ui="'+$this.data('event')+'"]').click();
          //});


        //
        });

        function dataEvent(){
          $this = $(this);
          $orderObj = $this.closest('.fOrderTable-Obj');
          $obj = $('.fObj[data-pk="'+$orderObj.data('pk')+'"]');
          $obj.find('[data-ui="'+$this.data('event')+'"]').click();
        }

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        var csrftoken = document.cookie.replace(/(?:(?:^|.*;\s*)csrftoken\s*\=\s*([^;]*).*$)|^.*$/, "$1");

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        
    </script>
</body>

</html>
