{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="">
<meta name="author" content="">

<title>{{ page.title }}</title>

<link href="{% static "fruit-template/css/fruit.css" %}" rel="stylesheet"> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 

</head>

<body>
    <div class="fMarginAuto fLandWrapper">
        
        <div class="fMenu fPos-Fixed">
            <div class="fMenu-Choice fActive fTextAlign-C" data-event="Fruit">
                <span class="fDis-Block fMenu-Choice-Image" data-image="fruit"></span>
                <span class="fMenu-Choice-Label">Фрукты</span>
            </div>
            <div class="fMenu-Choice fTextAlign-C" data-event="Nut">
                <span class="fDis-Block fMenu-Choice-Image" data-image="nut"></span>
                <span class="fMenu-Choice-Label">Орехи</span>
            </div>
            <div class="fMenu-Choice fTextAlign-C" data-event="Bag">
                <span class="fDis-Block fMenu-Choice-Image" data-image="bag"></span>
                <span class="fMenu-Choice-Label">Корзина</span>
            </div>
        </div>
        
        <div class="fLandHeader">
            <div class="fLandHeader">
                <span class="fDis-Block fPos-Rel fLandLogo fMarginAuto"></span>
                <span class="fDis-Block fPos-Rel fLandHeader-H1"></span>
                <span class="fDis-Block fPos-Rel fLandHeader-BagShadow"></span>
            </div>
        </div>
        
        <div class="fLandMiddle">
            
            <div class="fLandLine fPos-Rel fLandLine-1 fLineFont">
                <div class="fWrapper-976PX fMarginAuto">
                    <span class="fDis-Inline fLineIcon fVertAlign-Mid" data-image="fruit"></span>
                    <span>Фрукты</span>
                </div>
            </div>
            
            <div data-content="Fruit">
                <div class="fWrapper-976PX fMarginAuto">
                    
                     <div class="fObj fDis-Inline">
                        <div class="fDis-Block fObj-Image" style="background: url({% static "fruit-template/images/fruit-obj-orange.png" %})no-repeat;">
                            <div class="fPos-Rel fObj-Detail">
                                <div class="fObj-Ui-Wrapper fTextAlign-C">
                                    <span class="fObj-Ui" data-ui="minus">-</span>
                                    <span class="fObj-Ui fDis-Inline" data-ui="counter">2</span>
                                    <span class="fObj-Ui" data-ui="plus">+</span>
                                </div>
                            </div>
                        </div>
                        
                        <span class="fObj-Label fPos-Rel">Апельсины для сока</span>
                        <div class="fObj-Price fPos-Rel fDis-Block" data-image="fruit">
                            <span class="fObj-Price-B">999</span>
                            <span class="fObj-Price-L">руб/кг</span>
                        </div>
                    </div>
                    
                    <div class="fObj fDis-Inline">
                        <div class="fDis-Block fObj-Image" style="background: url({% static "fruit-template/images/fruit-obj-orange.png" %})no-repeat;">
                            <div class="fPos-Rel fObj-Detail">
                                <div class="fObj-Ui-Wrapper fTextAlign-C">
                                    <span class="fObj-Ui" data-ui="minus">-</span>
                                    <span class="fObj-Ui fDis-Inline" data-ui="counter">2</span>
                                    <span class="fObj-Ui" data-ui="plus">+</span>
                                </div>
                            </div>
                        </div>
                        
                        <span class="fObj-Label fPos-Rel">Апельсины для сока</span>
                        <div class="fObj-Price fPos-Rel fDis-Block" data-image="fruit">
                            <span class="fObj-Price-B">999</span>
                            <span class="fObj-Price-L">руб/кг</span>
                        </div>
                    </div>
                    
                    <div class="fObj fDis-Inline">
                        <div class="fDis-Block fObj-Image" style="background: url({% static "fruit-template/images/fruit-obj-orange.png" %})no-repeat;">
                            <div class="fPos-Rel fObj-Detail">
                                <div class="fObj-Ui-Wrapper fTextAlign-C">
                                    <span class="fObj-Ui" data-ui="minus">-</span>
                                    <span class="fObj-Ui fDis-Inline" data-ui="counter">2</span>
                                    <span class="fObj-Ui" data-ui="plus">+</span>
                                </div>
                            </div>
                        </div>
                        
                        <span class="fObj-Label fPos-Rel">Апельсины для сока</span>
                        <div class="fObj-Price fPos-Rel fDis-Block" data-image="fruit">
                            <span class="fObj-Price-B">999</span>
                            <span class="fObj-Price-L">руб/кг</span>
                        </div>
                    </div>
                    
                    <div class="fObj fDis-Inline">
                        <div class="fDis-Block fActive fObj-Image" style="background: url({% static "fruit-template/images/fruit-obj-orange.png" %})no-repeat;" data-image="fruit">
                            <div class="fPos-Rel fObj-Detail">
                                <div class="fObj-Ui-Wrapper fTextAlign-C">
                                    <span class="fObj-Ui" data-ui="minus">-</span>
                                    <span class="fObj-Ui fDis-Inline" data-ui="counter">2</span>
                                    <span class="fObj-Ui" data-ui="plus">+</span>
                                </div>
                            </div>
                        </div>
                        
                        <span class="fObj-Label fPos-Rel">Апельсины для сока
                            <span class="fObj-Cancel fPos-Abs" data-obj="cancel">Отменить выбор</span>
                        </span>
                        
                        
                        
                        <div class="fObj-Price fPos-Rel fDis-Block" data-image="fruit">
                            <div class="fPos-Abs fObj-Count">
                                <span class="fObj-Count-B fPos-Rel" data-count="99">99
                                    <span class="fObj-Count-L fPos-Abs">шт</span>
                                </span>
                            </div>
                            <span class="fObj-Price-B fActive">9999</span>
                            <span class="fObj-Price-L">руб/кг</span>
                        </div>
                    </div>
                    
                    <div class="fObj fDis-Inline fDisabled fOpacity-4">
                        <div class="fDis-Block fObj-Image" style="background: url({% static "fruit-template/images/fruit-obj-orange.png" %})no-repeat;">
                            <div class="fPos-Rel fObj-Detail fDisabled">
                                <div class="fObj-Ui-Wrapper fTextAlign-C">
                                    <span class="fObj-Ui" data-ui="minus">-</span>
                                    <span class="fObj-Ui fDis-Inline" data-ui="counter">2</span>
                                    <span class="fObj-Ui" data-ui="plus">+</span>
                                </div>
                            </div>
                            <span data-obj="disabled">Товар отсутствует</span>
                        </div>
                        
                        <span class="fObj-Label fPos-Rel">Апельсины для сока</span>
                        
                        <div class="fObj-Price fPos-Rel fDis-Block" data-image="empty">
                            <span class="fObj-Price-B">999</span>
                            <span class="fObj-Price-L">руб/кг</span>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            
            <div class="fLandLine fPos-Rel fLandLine-2 fLineFont">
                <div class="fWrapper-976PX fMarginAuto">
                    <span class="fDis-Inline fLineIcon fVertAlign-Mid" data-image="nut"></span>
                    <span>Орехи</span>
                </div>
            </div>
            
             <div data-content="Nut" style="margin-top: 120px;">
                <div class="fWrapper-976PX fMarginAuto">
                    
                    <div class="fObj fDis-Inline">
                        <div class="fDis-Block fObj-Image" style="background: url({% static "fruit-template/images/obj-image-nut.png" %})no-repeat;">
                            <div class="fPos-Rel fObj-Detail">
                                <div class="fObj-Ui-Wrapper fTextAlign-C">
                                    <span class="fObj-Ui" data-ui="minus">-</span>
                                    <span class="fObj-Ui fDis-Inline" data-ui="counter">2</span>
                                    <span class="fObj-Ui" data-ui="plus">+</span>
                                </div>
                            </div>
                        </div>
                        
                        <span class="fObj-Label fPos-Rel">Грецкий орех</span>
                        
                        <span class="fObj-Label-L fPos-Rel">очищенный, половинки</span>
                        
                        <div class="fObj-Price fPos-Rel fDis-Block" data-image="nut">
                            <span class="fObj-Price-B">999</span>
                            <span class="fObj-Price-L">руб/кг</span>
                        </div>
                    </div>
                    
                     <div class="fObj fDis-Inline">
                        <div class="fDis-Block fObj-Image" style="background: url({% static "fruit-template/images/obj-image-nut.png" %})no-repeat;">
                            <div class="fPos-Rel fObj-Detail">
                                <div class="fObj-Ui-Wrapper fTextAlign-C">
                                    <span class="fObj-Ui" data-ui="minus">-</span>
                                    <span class="fObj-Ui fDis-Inline" data-ui="counter">2</span>
                                    <span class="fObj-Ui" data-ui="plus">+</span>
                                </div>
                            </div>
                        </div>
                        
                        <span class="fObj-Label fPos-Rel">Грецкий орех</span>
                        
                        <span class="fObj-Label-L fPos-Rel">очищенный, половинки</span>
                        
                        <div class="fObj-Price fPos-Rel fDis-Block" data-image="nut">
                            <span class="fObj-Price-B">999</span>
                            <span class="fObj-Price-L">руб/кг</span>
                        </div>
                    </div>
                    
                     <div class="fObj fDis-Inline">
                        <div class="fDis-Block fObj-Image" style="background: url({% static "fruit-template/images/obj-image-nut.png" %})no-repeat;">
                            <div class="fPos-Rel fObj-Detail">
                                <div class="fObj-Ui-Wrapper fTextAlign-C">
                                    <span class="fObj-Ui" data-ui="minus">-</span>
                                    <span class="fObj-Ui fDis-Inline" data-ui="counter">2</span>
                                    <span class="fObj-Ui" data-ui="plus">+</span>
                                </div>
                            </div>
                        </div>
                        
                        <span class="fObj-Label fPos-Rel">Грецкий орех</span>
                        
                        <span class="fObj-Label-L fPos-Rel">очищенный, половинки</span>
                        
                        <div class="fObj-Price fPos-Rel fDis-Block" data-image="nut">
                            <span class="fObj-Price-B">999</span>
                            <span class="fObj-Price-L">руб/кг</span>
                        </div>
                    </div>
                    
                     <div class="fObj fDis-Inline">
                        <div class="fDis-Block fObj-Image" style="background: url({% static "fruit-template/images/obj-image-nut.png" %})no-repeat;">
                            <div class="fPos-Rel fObj-Detail">
                                <div class="fObj-Ui-Wrapper fTextAlign-C">
                                    <span class="fObj-Ui" data-ui="minus">-</span>
                                    <span class="fObj-Ui fDis-Inline" data-ui="counter">2</span>
                                    <span class="fObj-Ui" data-ui="plus">+</span>
                                </div>
                            </div>
                        </div>
                        
                        <span class="fObj-Label fPos-Rel">Грецкий орех</span>
                        
                        <span class="fObj-Label-L fPos-Rel">очищенный, половинки</span>
                        
                        <div class="fObj-Price fPos-Rel fDis-Block" data-image="nut">
                            <span class="fObj-Price-B">999</span>
                            <span class="fObj-Price-L">руб/кг</span>
                        </div>
                    </div>
                    
                     <div class="fObj fDis-Inline">
                        <div class="fDis-Block fActive fObj-Image" style="background: url({% static "fruit-template/images/obj-image-nut.png" %})no-repeat;" data-image="nut">
                            <div class="fPos-Rel fObj-Detail">
                                <div class="fObj-Ui-Wrapper fTextAlign-C">
                                    <span class="fObj-Ui" data-ui="minus">-</span>
                                    <span class="fObj-Ui fDis-Inline" data-ui="counter">2</span>
                                    <span class="fObj-Ui" data-ui="plus">+</span>
                                </div>
                            </div>
                        </div>
                        
                        <span class="fObj-Label fPos-Rel">Грецкий орех</span>
                        
                        <span class="fObj-Label-L fPos-Rel">очищенный, половинки
                            <span class="fObj-Cancel fPos-Abs" data-obj="cancel" style="bottom: -20px;">Отменить выбор</span>
                        </span> 
                         
                        <div class="fObj-Price fPos-Rel fDis-Block" data-image="nut">
                            <div class="fPos-Abs fObj-Count">
                                <span class="fObj-Count-B fPos-Rel" data-count="99">99
                                    <span class="fObj-Count-L fPos-Abs">шт</span>
                                </span>
                            </div>
                            <span class="fObj-Price-B fActive">9999</span>
                            <span class="fObj-Price-L">руб/кг</span>
                        </div>
                        
                    </div>
                    
                 </div>
            </div>
            
            <div class="fLandLine fPos-Rel fLandLine-2 fLineFont">
                <div class="fMarginAuto" style="width:1006px;">
                    <span class="fDis-Inline fLineIcon fVertAlign-Mid" data-image="bag"></span>
                    <span>Ваша корзина</span>
                </div>
            </div>
            
            <div data-content="Bag" style="margin-top: 57px;">
                <div class="fOrder fMarginAuto fTextAlign-C" style="width:1006px;">
                    <div class="fDis-Inline fFloat-L" data-order="fruit" style="width:500px;">
                        <h3>Фрукты:</h3>
                        <div class="fOrderTable-Title">
                            <div data-label>Наименование</div>
                            <div data-count>Кол-во</div>
                            <div data-price>Цена(руб.)</div>
                        </div>
                        <div class="fOrderTable-Obj">
                            <div data-label>
                            <span>1. Наименование товара</span>
                            </div>
                            <div data-count>99</div>
                            <div data-price>99 999</div>
                        </div>
                        <div class="fOrderTable-Obj fActive">
                            <div data-label>
                                <span>2. Наименование товара</span>
                                <span class="fDis-Inline" data-event="cancel"></span>
                            </div>
                            <div data-count>
                                <span class="fDis-Inline" data-event="minus">-</span>
                                <span style="margin-left: 5px; margin-right: 4px;">99</span>
                                <span class="fDis-Inline" data-event="plus">+</span>
                            </div>
                            <div data-price>99 999</div>
                        </div>
                        <div class="fOrderTable-Result">
                            <div data-label></div>
                            <div data-count>9999</div>
                            <div data-price>999 999</div>
                        </div>
                    </div>
                    <div class="fDis-Inline" data-order="nut" style="width:500px;">
                        <h3>Орехи:</h3>
                        <div class="fOrderTable-Title">
                            <div data-label>Наименование</div>
                            <div data-count>Кол-во</div>
                            <div data-price>Цена(руб.)</div>
                        </div>
                        <div class="fOrderTable-Obj">
                            <div data-label>1. Наименование товара</div>
                            <div data-count>99</div>
                            <div data-price>99 999</div>
                        </div>
                        <div class="fOrderTable-Result">
                            <div data-label></div>
                            <div data-count>9999</div>
                            <div data-price>999 999</div>
                        </div>
                    </div>
                    <div class="fClear"></div>
                    <div class="fOrder-Line" style="margin-top: 27px;"></div>
                </div>
            </div>
            <div class="fClear"></div>
            
            <div data-content="Form" class="fFormWrapper fDis-Rel">
                <div class="fForm fMarginAuto fTextAlign-C" style="width:1006px;">
                    <form class="fFloat-L fFormOrder">
                        <input name="name" type="text" placeholder="Ваше имя" required>
                        <input class="fFloat-L" name="city" type="text" placeholder="Город" value="Москва" disabled>
                        <input class="fFloat-L" name="street" type="text" placeholder="Улица" required>
                        <input class="fFloat-L" name="house" type="text" placeholder="Дом">
                        <input class="fFloat-L" name="corps" type="text" placeholder="Корп.">
                        <input class="fFloat-L" name="building" type="text" placeholder="Стр.">
                        <input class="fFloat-L" name="number" type="text" placeholder="No">
                        <div class="fClear"></div>
                        <input name="phone" type="text" placeholder="Ваше телефон" required>
                        <input name="email" type="email" placeholder="Ваше e-mail" required>
                        <input name="company" type="text" placeholder="Название компании" required>
                        <input type="submit" hidden="hidden" class="fHid">
                        
                    </form>
                    
                    <div class="fFloat-R" style="margin-top: 20px; width: 300px;" data-summ>
                        <span style="color: #ffffff;font: 700 30px / 36px Intro-Light;">Итого: </span>
                        <span style="color: #99cc33;font: 700 30px / 36px Intro-Light;">999 999 руб.</span>
                        <br/>
                        <span class="fFloat-L" style="color: rgba(255, 255, 255, 0.08); font: 400 14px/24px Intro-Bold; margin-top: -10px;">включая доставку</span>
                        <div class="fClear"></div>
                        <div class="fForm-Faq">
                            <span>Мы доставляем фрукты в трёх временных интервалах: 8-13, 13-18, 18-23 часа. Вы можете выбрать оптимальный для вас. Доставка осуществляется на следуюший день для заказов оформленных до 14 часов, после 14 - через день, но можем успеть и на следующий - оператор вам подскажет.</span> 
                            <div class="fOrder-Line-Faq"></div>
                            <span class="fRed">Стоимость доставки 350р., в случае стоимости заказа более 4000р. - доставка бесплатно.</span> 
                        </div>
                    </div>
                    <div class="fClear"></div>
                    
                    <div class="fFormOrder-Submit" data-event="submit">Заказать</div>
                    <div class="fFormOrder-Success">Благодарим за заказ!</div>
                    
                </div>
            </div>
            
        </div>
        
    </div>
    
    <script>
        
        $(window).scroll(function () {
            var menu = $('.fMenu'); 
            if (menu.offset().top > 810) {
               menu.fadeIn();
            } else {
               menu.stop().hide();
            }
        });
        
        $(function(){
           
           $('.fMenu-Choice[data-event]').click(function(){
               var anchor = $(this).data('event');
               
               var target = $('[data-content="'+anchor+'"]');

                if( target.length ) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 500);
                    
                    $(this).parent().children().removeClass('fActive');
                    
                    $(this).addClass('fActive');
                }
               
           });
            
        });
        
    </script>
</body>

</html>
