@font-face{
    font-family: Intro-Caps;
    src: url(../fonts/Intro-Regular-Caps.otf);
}
@font-face{
    font-family: Intro-Light;
    src: url(../fonts/Intro-Light.otf);
}
@font-face{
    font-family: Intro-Bold;
    src: url(../fonts/Intro-Bold.otf);
}
@font-face{
    font-family: Intro;
    src: url(../fonts/Intro-Book.otf);
}
html, 
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #131319;
    /*background: url(../images/pattern_noise.png);
    background-size: contain;*/
}
.fTextAlign-C{
    text-align: center;
}
.fMarginAuto{
    margin: 0 auto;
}
.fPos-Rel{
    position: relative;
}
.fDis-Block{
    display: block;
}
.fLandWrapper{
    /*width: 1920px;min*/
    width: 1920px;
}
.fLandHeader{
    /*background: url(../images/land-header.png)no-repeat;*/
    /*background: url(../images/land-head-1.png)no-repeat; test*/
    height: 1135px;
}
.fLandHeader-H1{
    background: url(../images/land-head-h1.png)no-repeat;
    width: 907px;
    height: 43px;
    /*top: 760px;*/
    top: 380px;
    left: 510px;
}
.fLandHeader-BagShadow{
    background: url(../images/shadow_box.png)no-repeat;
    width: 1069px;
    height: 147px;
    top: 350px; /*733*/
    left: 422px;
}
.fNoise{
    background: url(../images/noise-1.png);
    height: 4919px;
}
.fLandLine{
    height: 152px;
    background: url(../images/land-line-1.png);
}
.fLandMiddle{
    /*background: url(../images/land-middle-1.png)no-repeat;*/
    /*background: url(../images/land-middle-2.png)no-repeat; test*/
    /*height: 3343px; not test*/
    margin-top: -360px;
}
.fLineFont{
    color: #ffffff;
    font: 700 100px / 175px Intro-Caps;
}
.fLandLine-1{
    top: 130px;
}
.fLandLine-2{
    top: 67px;
}
.fDis-Inline{
    display: inline-block;
}
.fLineIcon[data-image="fruit"]{
    background: url(../images/line-icon-fruit.png)no-repeat;
    width: 114px;
    height: 119px;
}
.fLineIcon[data-image="nut"]{
    background: url(../images/icon-nut.png)no-repeat;
    width: 92px;
    height: 90px;
}
.fLineIcon[data-image="bag"]{
    background: url(../images/icon-bag.png)no-repeat;
    width: 103px;
    height: 89px;
}
.fWrapper-976PX{
    width: 976px;
}
.fVertAlign-Mid{
    vertical-align: middle;
}
[data-content="Fruit"]{
    margin-top: 207px;
}
.fObj{
    height: 196px;
    width: 240px;
    /*margin-top: 73px;*/
    text-align: center;
}
.fObj-Image{
    width: 170px;
    height: 170px;
    border-radius: 100px;
    margin: auto;
}
.fObj-Image.fActive[data-image="fruit"]{
    border: 7px solid rgb(146, 164, 6);
}
.fObj-Image.fActive[data-image="nut"]{
    border: 7px solid #b28758;
}
.fObj-Image:hover .fObj-Detail:not(.fDisabled){
    opacity: 1;
}
.fObj-Price{
    color: #ffffff;
    width: 74px;
    height: 74px;
    bottom: 210px;
    left: 160px;
    padding-top: 20px; 
    /*padding-left: 12px;
    text-align: left;*/
}
.fObj-Price[data-image="fruit"]{
    background: url(../images/fruit-price.png)no-repeat;
}
.fObj-Price[data-image="nut"]{
    background: url(../images/nut-price.png)no-repeat;
    bottom: 220px;
}
.fObj-Price[data-image="empty"]{
    background: url(../images/empty-price.png)no-repeat;
}
.fObj-Price-B{
    font: 700 25px / 19px Intro-Bold;
}
.fObj-Price-B.fActive{
    font: 700 20px / 19px Intro-Bold;
}
.fObj-Price-L{
    font: 700 15px / 19px Intro-Bold;
}
.fObj-Label{
    color: #ffffff;
    font: 700 16px / 27px Intro-Light;
}
.fPos-Fixed{
    position: fixed;
}
.fPos-Abs{
    position: absolute;
}
.fMenu{
    left: 0px;
    top: 5%;
    width: 165px;
    z-index: 1;
}
.fMenu-Choice,
.fMenu-Choice.fActive{
    height: 123px;
    padding-top: 14px;
}
.fMenu-Choice{
    background: url(../images/menu-choice.png)no-repeat;
    width: 147px;
}
.fMenu-Choice.fActive{
    background: url(../images/menu-choice-active.png)no-repeat;
    width: 165px;
}
.fMenu-Choice-Label{
    color: #ffffff;
    font: 700 16px / 27px Intro-Light;
}
.fMenu-Choice-Image{
    width: 69px;
    height: 72px;
    background-size: contain!important;
    margin: 0 auto;
    
}
.fMenu-Choice-Image[data-image="fruit"]{
    background: url(../images/line-icon-fruit.png)no-repeat;
}
.fMenu-Choice-Image[data-image="nut"]{
    background: url(../images/icon-nut.png)no-repeat;
}
.fMenu-Choice-Image[data-image="bag"]{
    background: url(../images/icon-bag.png)no-repeat;
}

.fObj-Label,
.fObj-Label-L{ 
    display: block;
}
.fObj-Label-L{
    color: #ffffff;
    font: 300 15px / 10px Intro-Light;
}

.fOrder{
    padding-bottom: 26px;
    /*border-bottom: rgba(255, 255, 255, 0.1) 1px solid;*/
}
.fOrder h3{
    color: #ffffff;
    font: 700 60px / 27px Intro-Caps;
}
.fOrderTable-Title{
    color: #4e4e4e;
    font: 300 16px / 36px Intro-Light;
    text-align: center;
}
.fOrderTable-Title > div,
.fOrderTable-Obj > div,
.fOrderTable-Result > div{
    display: inline-block;
}
.fOrderTable-Title > [data-price],
.fOrderTable-Obj > [data-price],
.fOrderTable-Result > [data-price]{
    width: 110px;
}
.fOrderTable-Result > [data-price]{
    /*width: 125px;*/
}

.fOrderTable-Title > [data-count],
.fOrderTable-Obj > [data-count],
.fOrderTable-Result > [data-count]{
    width: 70px;
    /*text-align: left;*/
}
.fOrderTable-Result > [data-count]{
    /*width: 65px;*/
}

.fOrderTable-Title > [data-label],
.fOrderTable-Obj > [data-label],
.fOrderTable-Result > [data-label]{
    width: 300px;
    text-align: left;
}
.fOrderTable-Result > [data-label]{
    /*width: 300px;*/
}
.fOrderTable-Title > [data-label]{
    width: 280px;
    padding-left: 30px;
}

.fOrderTable-Obj,
.fOrderTable-Result{
    overflow: hidden;
    padding-left: 10px;
}
.fOrderTable-Obj.fActive{
    background: url(../images/ordertable-obj-active-bg.png);
}
.fOrderTable-Obj > div,
.fOrderTable-Result > div{
    color: #ffffff;
    font: 700 16px / 36px Intro-Light;
}
.fOrderTable-Result > [data-price]{
    color: #99cc33;
}
.fFloat-L{
    float: left;
}
.fFloat-R{
    float: right;
}
.fClear{
    clear: both;
}
[data-event="cancel"]{
    background: url(../images/event-cencel.png)no-repeat;
    width: 13px;
    height: 14px;
    vertical-align: middle;
    margin-left: 5px;
}
[data-event="minus"]{
    color: #ff4343;
    font: 700 16px / 36px Intro;
    vertical-align: middle;
}
[data-event="plus"]{
    color: #99cc33;
    font: 700 16px / 36px Intro;
    vertical-align: middle;
}
.fOrder-Line{
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}
.fFormWrapper{
    /*background: url(../images/form-white-noise.png);*/
    background: url(../images/form-white-noise-4.png)no-repeat;
    height: 850px;
}

.fFormOrder input:required{
    border-color: #2b2b2b;
    box-shadow: none;
}
.fFormOrder input:required:focus {
}
.fFormOrder input:required:hover {
}
.fFormOrder input:valid {
}
.fFormOrder input:invalid {
    /*box-shadow: 2px 0px 2px rgb(43, 43, 43);*/
}

.fFormOrder input{
    color: #fdfeff;
    font: 400 14px / 36px Intro;
    background-color: #131319;
    border: none;
    outline: none;
    display: block;
    margin-top: 20px; 
    margin-left: 20px;
    background-size: cover;
    padding-left: 60px;
    height: 51px;
}
.fFormOrder input[name="name"]{
    width: 570px;
    background: url(../images/input-name-2.png)no-repeat;
}
.fFormOrder input[name="city"]{
    width: 126px;
    background: url(../images/input-city.png)no-repeat;
    display: none;
}
.fFormOrder input[name="street"]{
    width: 93px;
    /*background: url(../images/input-street.png)no-repeat;*/
    background: url(../images/input-city.png)no-repeat;
}
.fFormOrder input[name="house"],
.fFormOrder input[name="corps"],
.fFormOrder input[name="building"],
.fFormOrder input[name="number"]{
    background: url(../images/input-house.png)no-repeat;
    width: 87px;
    padding-left: 11px;
    background-size: cover;
}
.fFormOrder input[name="phone"]{
    background: url(../images/input-phone.png);
    width: 570px;
}
.fFormOrder input[name="email"]{
    background: url(../images/input-email.png);
    width: 570px;
}
.fFormOrder input[name="company"]{
    background: url(../images/input-company.png);
    width: 570px;
}

.fLandLogo{
    /*background: url(../images/logo.png);*/
    background: url(../images/logo-2.png)no-repeat;
    width: 382px;
    height: 382px;
    top: 51px;
}
.fTest{
    background: url(../images/noise-3.png);
}
[data-event]{
    cursor: pointer;
}
.fForm-Faq{
    color: #2b2b2b;
    font: 400 14px / 24px Intro-Bold;   
    text-align: left;
    margin-top: 20px;
}
.fOrder-Line-Faq{
    background: url(../images/line-icon-form-faq.png);
    height: 1px;
    margin-top: 12px;
    margin-bottom: 10px;
}
.fRed{
    color: #b40f0f;
}

::-webkit-input-placeholder {
   color: #fdfeff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fdfeff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fdfeff; 
}

:-ms-input-placeholder {  
   color: #fdfeff; 
}

.fHid{
    opacity:0!important; 
    margin-left:99999px!important; 
    height:1px!important; 
    display:none!important;
}
.fFormOrder-Submit{
    background: url(../images/input-submit.png)no-repeat;
    color: #ffffff;
    font: 700 40px / 130px Intro-Caps;
    width: 985px;
    height: 130px;
    margin-top: 33px;
    margin-left: 20px;
}
.fFormOrder-Submit:hover{
    background: url(../images/input-submit-hover.png)no-repeat;
}
.fFormOrder-Success{
    color: #2d2d31;
    font: 700 40px / 36px Intro;   
    margin-top: 31px;
    display: none;
}
.fObj-Detail{
    top: 105px;
    background: url(../images/obj-detail-wrapper.png)no-repeat;
    width: 168px;
    height: 66px;
    opacity: 0;
}
.fObj-Detail:not(.fDisabled):hover{
    opacity: 1;
}
.fObj-Ui-Wrapper{
    padding-top: 10px;
}
.fObj-Ui-Wrapper span{
    vertical-align: bottom;
}
.fObj-Ui[data-ui="minus"],
.fObj-Ui[data-ui="plus"]
{
    color: #ffffff;
    font: 700 30px / 27px Intro;
    cursor: pointer;
}
.fObj-Ui[data-ui="plus"]{
    
}
.fObj-Ui[data-ui="counter"]{
    color: #131313;
    font: 700 24px / 37px Intro;
    background-color: #ffffff;
    width: 69px;
    height: 37px;
    border-radius: 30px;
}
.fObj-Cancel{
    color: #e35200;
    font: 700 12px Intro;
    width: 130px;
    bottom: -15px;
    left: 25%;
    cursor: pointer;
}
.fObj-Count{
    height: 28px;
    color: #92a406;
    top: 0px;
    left: -150px;
}
.fObj-Count-B{
    font: 700 35px / 27px Intro;
}
.fObj-Count-L{
    font: 700 15px / 27px Intro;
    top: -5px;
    /*right: -21px;
    right: -12px;*/
}
.fOpacity-4{
    opacity: 0.4;
}
[data-obj="disabled"]{
    color: #e35200;
    font: 700 14.5px / 40px Intro-Caps;
    z-index: 1;
}
.fDisabled{
    pointer-events: none;
}
.fDis-None{
    display: none;
}
